In [106]:
import pandas as pd

file = "Clinic Sign-Up Prototype_2.xlsx"
df = pd.read_excel(file);

In [107]:
def get_short(c): # Get short name of a clinic from a longer string
    if 'md' in c.lower(): return 'md';
    elif 'dermatology' in c.lower(): return 'dermatology';
    elif 'smoking' in c.lower(): return 'smoking';
    elif 'shelter' in c.lower(): return 'shelter';
    elif 'general' in c.lower(): return 'general';
    elif 'women' in c.lower(): return 'women';
    elif 'monday' in c.lower(): return 'monday';
    else: return None;

In [108]:
def get_clinics_of_interest(long_name):
    _clinics = []
    for c in long_name.split(';'):
        _clinics.append(get_short(c));
    return _clinics

In [109]:
users = []
for index, row in df.iterrows():
    user = {}
    user['id'] = row['ID']
    user['start_time'] = row['Start time']
    user['translator'] = row['Are you interested in being a translator (Spanish) instead of a general volunteer?']
    user['clinics_of_interest'] = get_clinics_of_interest(row['Please select any clinics you are interested in volunteering with'])
    user['name'] = row['First and Last Name']
    users.append(user)

## Results

In [126]:
rdf = pd.read_excel(file, 'Results');

,Clinic,Date,Volunteers,Translators
0,Agape MD Clinic,2023-03-08,"Abby Lewis2,Jane Doe",NaN
1,Agape MD Clinic,2023-03-12,"Abby Lewis2,test dummy,Jane Doe,One Moretime",Kevin VanHorn
2,Agape MD Clinic,2023-03-16,"Abby Lewis2,Jane Doe","Kevin VanHorn,tester dumber"
3,NaN,NaT,NaN,NaN
4,Agape Dermatology Clinic,2023-03-10,"Katherine Lake,One Moretime",Kevin VanHorn
5,Agape Dermatology Clinic,2023-03-15,test dummy,tester dumber
6,NaN,NaT,NaN,NaN
7,UGM Smoking Cessation Clinic,2023-03-08,"Katherine Lake,One Moretime",Newer Name
8,UGM Smoking Cessation Clinic,2023-03-12,Katherine Lake,"tester dumber,Newer Name"
9,NaN,NaT,NaN,NaN
10,UGM Shelter Clinic,2023-03-15,"Katherine Lake,Abby Lewis2,Jane Doe",NaN
11,UGM Shelter Clinic,2023-03-30,"Katherine Lake,Abby Lewis2,Jane Doe",NaN
12,NaN,NaT,NaN,NaN
13,BBHH General Clinic,2023-03-08,test dummy,Kevin VanHorn
14,BBHH General Clinic,2023-03-10,Jane Doe,NaN
15,NaN,NaT,NaN,NaN
16,BBHH Women's Clinic,2023-03-28,"test dummy,Jane Doe",NaN
17,BBHH Women's Clinic,2023-03-20,"Jane Doe,One Moretime",tester dumber
18,NaN,NaT,NaN,NaN
19,The Monday Clinic,2023-03-03,Jane Doe,tester dumber
20,The Monday Clinic,2023-03-16,One Moretime,NaN

In [123]:
clinics = {}
for index, row in rdf.iterrows():
    if pd.isnull(row['Clinic']): continue;
    date = row['Date']
    clinic_nameshort = get_short(row['Clinic'])
    
    info = {}
    info['clinic'] = clinic_nameshort
    info['volunteers'] = str(row['Volunteers']).split(',')
    
    if pd.isnull(row['Translators']):
        info['translators'] = str(row['Translators']).split(',')
    else:
        info['translators'] = []
    
    # existing:
    if clinic_nameshort in clinics.keys():
        clinics[clinic_nameshort][date] = info;
    # new:
    else:
        clinics[clinic_nameshort] = {}
        clinics[clinic_nameshort][date] = info;

clinics

{'md': {Timestamp('2023-03-08 00:00:00'): {'volunteers': ['Abby Lewis2',
    'Jane Doe'],
   'translators': ['nan']},
  Timestamp('2023-03-12 00:00:00'): {'volunteers': ['Abby Lewis2',
    'test dummy',
    'Jane Doe',
    'One Moretime'],
   'translators': []},
  Timestamp('2023-03-16 00:00:00'): {'volunteers': ['Abby Lewis2', 'Jane Doe'],
   'translators': []}},
 'dermatology': {Timestamp('2023-03-10 00:00:00'): {'volunteers': ['Katherine Lake',
    'One Moretime'],
   'translators': []},
  Timestamp('2023-03-15 00:00:00'): {'volunteers': ['test dummy'],
   'translators': []}},
 'smoking': {Timestamp('2023-03-08 00:00:00'): {'volunteers': ['Katherine Lake',
    'One Moretime'],
   'translators': []},
  Timestamp('2023-03-12 00:00:00'): {'volunteers': ['Katherine Lake'],
   'translators': []}},
 'shelter': {Timestamp('2023-03-15 00:00:00'): {'volunteers': ['Katherine Lake',
    'Abby Lewis2',
    'Jane Doe'],
   'translators': ['nan']},
  Timestamp('2023-03-30 00:00:00'): {'volunteers': ['Katherine Lake',
    'Abby Lewis2',
    'Jane Doe'],
   'translators': ['nan']}},
 'general': {Timestamp('2023-03-08 00:00:00'): {'volunteers': ['test dummy'],
   'translators': []},
  Timestamp('2023-03-10 00:00:00'): {'volunteers': ['Jane Doe'],
   'translators': ['nan']}},
 'women': {Timestamp('2023-03-28 00:00:00'): {'volunteers': ['test dummy',
    'Jane Doe'],
   'translators': ['nan']},
  Timestamp('2023-03-20 00:00:00'): {'volunteers': ['Jane Doe',
    'One Moretime'],
   'translators': []}},
 'monday': {Timestamp('2023-03-03 00:00:00'): {'volunteers': ['Jane Doe'],
   'translators': []},
  Timestamp('2023-03-16 00:00:00'): {'volunteers': ['One Moretime'],
   'translators': ['nan']}}}

## Analysis

In [120]:
udf = pd.DataFrame.from_dict(users)
udf

,id,start_time,translator,clinics_of_interest,name
0,3,2023-03-06 20:46:37,No,"[md, dermatology, smoking, shelter, general, N...",Abby Lewis
1,4,2023-03-07 21:00:38,No,"[dermatology, shelter, smoking, general, None]",Katherine Lake
2,5,2023-03-07 21:16:56,No,"[md, smoking, shelter, dermatology, general, N...",Abby Lewis2
3,6,2023-03-07 22:23:25,Yes,"[md, dermatology, general, None]",Kevin VanHorn
4,7,2023-03-07 23:24:14,No,"[smoking, dermatology, md, shelter, women, gen...",test dummy
5,8,2023-03-07 23:24:56,Yes,"[md, dermatology, smoking, shelter, general, w...",tester dumber
6,9,2023-03-07 23:25:33,No,"[md, smoking, dermatology, shelter, general, w...",Jane Doe
7,10,2023-03-08 23:26:24,No,"[md, dermatology, smoking, shelter, monday, wo...",One Moretime
8,11,2023-03-15 22:18:14,Yes,"[general, shelter, smoking, None]",Newer Name